/* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Volkhov', serif; */

/******************************
        UNIVERSAL STYLES
*******************************/
:root {
  --primary-bg: #ffffff;
  --secondary-bg: #dfd7f9;
  --title-text-color: #181e4b;
  --primary-text-color: #5e6282;
  --transition: all 0.4s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  padding-top: 7rem;
  padding-bottom: 2.5rem;
}

.container {
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  width: 100%;
}

p {
  color: var(--primary-text-color);
  font-size: 1rem;
  font-weight: 500;
}

.title {
  font-family: "Volkhov", serif;
  color: var(--title-text-color);
}

.section-secondary-title {
  text-align: center;
  font-size: 1.125rem;
  color: #5E6282;
  font-weight: 600;
  margin-bottom: 0.75rem; 
}

.section-primary-title {
  text-align: center;
  font-size: 3.125rem;
  text-transform: capitalize;
}

.place-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/******************************
        HEADER STYLES
*******************************/
header {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
}

header .hero-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
} 

.hero-brand-title {
  color: #df6951;
  font-size: 1.25rem;
  margin: 1rem 0;
}

.hero-title {
  font-size: 5.25rem;
  letter-spacing: -0.04em;
  line-height: 5.5rem;
  width: 34rem;
  margin-bottom: 1.4rem;
}

.hero-info {
  font-size: 1rem;
  line-height: 1.9rem;
  color: var(--primary-text-color);
  width: 75%;
}

.hero-buttons {
  margin-top: 2rem;
}

.hero-btn-1 {
  text-decoration: none;
  font-size: 1rem;
  color: var(--primary-bg);
  padding: 0.7rem 0.7rem;
  background-color: #f1a501;
  border-radius: 0.4rem;
}

.hero-btn-2 {
  margin-left: 2.75rem;
  text-decoration: none;
}

.hero-btn-2 .play-icon {
  font-size: 0.9rem;
  color: #ffffff;
  background-color: #df6951;
  margin-right: 1.25rem;
  padding: 0.8rem 1.05rem;
  border-radius: 50%;
}

.hero-img > img {
  width: 100%;
}

.hero-img .hero-icon-img-1 {
    position: absolute;
    top: 20%;
    right: 10.5%;
    width: 8%;
    z-index: -1;
}

.hero-img .hero-icon-img-2 {
    position: absolute;
    top: 14%;
    right: 35%;
    width: 8%;
    z-index: -1;
}

.hero-img .hero-icon-img-3 {
    position: absolute;
    top: -8%;
    right: 0;
    width: 40%;
    z-index: -10;
}

/******************************
        BEST SERVICES STYLES
*******************************/
.best-services-section {
  position: relative;
}

.service-container {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
}

.service-item {
  width: 267px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-item .service-item-img {
  position: relative;
  height: 25%;
  text-align: center;
  padding: 0.25rem;
  z-index: 1;
}

.service-img-1::before {
  content: '';
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 18px 5px 10px 0;
  transform: rotate(-180deg);
  background: #FFF1DA;
  bottom: 4%;
  right: -20%;
  z-index: -1;
}

.service-img-2::before {
  content: '';
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 18px 5px 10px 0;
  transform: matrix(1, 0, 0, -1, 0, 0);
  background: #FFF1DA;
  top: 9%;
  left: 7%;
  z-index: -1;
}

.service-img-3::before {
  content: '';
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 18px 5px 10px 0;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  background: #FFF1DA;
  top: -4%;
  right: -10%;
  z-index: -1;
}

.service-img-4::before {
  content: '';
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 18px 5px 10px 0;
  transform: matrix(1, 0, 0, -1, 0, 0);
  background: #FFF1DA;
  bottom: 10%;
  right: -25%;
  z-index: -1;
}

.service-img-1 img {
  width: 59px;
}
.service-img-2 img {
  width: 79px;
}
.service-img-3 img {
  width: 59px;
}
.service-img-4 img {
  width: 40px;
}

.service-img-2 img {
  transform: rotate(-31.84deg);
}

.service-item-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  color: #1E1D4C;
  margin: 1rem 0;
}

.service-item-info {
  text-align: center;
  font-size: 1rem;
  line-height: 1.625rem;
  width: 11rem;
}

.service-style-item {
  position: relative;
  background: #FFFFFF;
  border-radius: 2.25rem;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}

.service-style-item::before {
  content: '';
  width: 100px;
  height: 100px;
  position: absolute;
  background: #DF6951;
  border-radius: 30px 0px 10px 0;
  bottom: -10%;
  left: -10%;
  z-index: -10; 
}

.best-service-shape-img {
  position: absolute;
  width: 10%;
  top: 0;
  right: 0;
}

/******************************
    TOP DESTINATIONS STYLES
*******************************/
.destination-cards-container {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2.75rem;
  place-items: center;
}

.destination-card {
  position: relative;
  width: 314px;
  height: 457px;
  border-radius: 1.5rem;
  box-shadow: 0 33px 80px rgba(0, 0, 0, 0.1)  ; 
	-webkit-box-shadow: 0 33px 80px rgba(0, 0, 0, 0.1)  ; 
	-moz-box-shadow: 0 33px 80px rgba(0, 0, 0, 0.1)  ;
  overflow: hidden; 
}

.destination-img img {
  width: 100%;
  height: 91%;
}

.destination-details {
  position: absolute;
  width: 100%;
  height: 135px;
  padding: 1.5rem 1.5rem 0 1.5rem;
  background: #FFFFFF;
  border-radius: 0 0 1.5rem 1.5rem;
  bottom: -0.5%;
}

.destination-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.25rem;
}

.destination-info .destination-name , .destination-cost {
  color: var(--primary-text-color);
  font-size: 1.125rem;
}

.destination-duration {
  color: var(--primary-text-color);
  font-size: 1rem;
}

.destination-duration-icon {
  margin-right: 0.875rem;
}

/******************************
        NEXT TRIP STYLES
*******************************/

/* next-trip-left styles */

.next-trip-left .section-title .trip-secondary-title , .trip-primary-title {
  text-align: left;
}

.next-trip-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.trip-step {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 1.5rem;
}

.trip-step-icon {
  width: 3.25rem;
  height: 3rem;
  border-radius: 0.875rem;
  margin: 0.45rem 1.25rem auto auto;
}

.trip-step-icon-1 {
  background: #F0BB1F;
}
.trip-step-icon-2 {
  background: #F15A2B;
}
.trip-step-icon-3 {
  background: #006380;
}

.trip-step-icon .fas {
  color: #FFFFFF;
  font-size: 1.4rem;
}

.trip-step-title , .trip-step-info {
  padding: 0;
  font-size: 1rem;
  color: var(--primary-text-color);
}

.trip-step-info {
  width: 75%;
}

/* next-trip-right styles */

.trip-card {
  position: relative;
  width: 370px;
  height: 400px;
  padding: 1.5rem;
  background: #FFFFFF;
  border-radius: 1.625rem;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}

.trip-card-img img {
  display: block;
}

.trip-card-title {
  color: #080809;
  font-weight: 500;
  margin: 1.625rem 0 0.75rem 0;
}

.trip-card-icons {
  margin: 1.25rem 0 1.875rem 0;
}

.trip-card-icon {
  display: inline-flex;
  width: 36px;
  height: 36px;
  background: #F5F5F5;
  border-radius: 50%;
  color: #84829A;
  font-size: 0.875rem;
  margin-right: 1.125rem;
}

.trip-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trip-card-footer-info > span {
  margin-right: 1rem;
}

.trip-card-footer-icon {
  font-size: 1.25rem;
  color: #4152CA;
}

/* styles of popup info */
.trip-card-popup {
  position: absolute;
  bottom: 10%;
  left: 60%;
  width: 263px;
  height: 129px;
  background: #FFFFFF;
  padding: 1rem;
  display: flex;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}

.popup-img img {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.popup-details {
  margin-left: 0.75rem;
}

.popup-secondary-title {
  color: #84829A;
  font-weight: 500;
  font-size: 0.875rem;
}

.popup-main-title {
  color: #080809;
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0.2rem 0 0.5rem 0;
}

.popup-info {
  font-weight: 500;
  font-size: 0.875rem;
  color: #080809;
}

.popup-info-colored {
  color: #8A79DF;
}

.popup-progress-bar {
  width: 156px;
  background: #F5F5F5;
  border-radius: 1.875rem;
  margin-top: 0.625rem;
}

.popup-progressed {
  height: 5px;
  width: 40%;
  background: #8A79DF;
  border-radius: 1.875rem;
}

/******************************
        ABOUT US STYLES
*******************************/
.about-us-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* about-us-left styles */
.about-us-left .section-title .about-secondary-title , .about-primary-title {
  text-align: left;
  width: 80%;
}

.empty-circles {
  margin-top: 5.125rem;
  width: 100%;
  height: 12px;
}

.empty-circles .active {
  display: inline-block;
  width: 12px;
  height: 100%;
  margin-right: 1.675rem;
  border-radius: 50%;
  background: #39425D;
}


.empty-circles .inactive {
  display: inline-block;
  width: 12px;
  height: 100%;
  margin-right: 1.675rem;
  border-radius: 50%;
  background: #E5E5E5;
  transition: var(--transition);
}

.empty-circles .inactive:hover {
  background: #39425D;
}

/* about-us-right styles */
.about-us-right {
  position: relative;
}

.about-us-post {
  width: 80%;
  height: 279px;
  background: var(--primary-bg);
  border-radius: 0.675rem;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}

.about-us-post > img {
  width: 68px;
  height: 68px;
}

.about-us-post-comment, .about-us-post-author, .about-us-post-author-info {
  padding-left: 4rem;
}

.about-us-post-author {
  color: #5E6282;
  font-size: 1.125rem;
  font-weight: 600;
  margin: 2.125rem 0 0.3125rem;
}

.about-us-post-author-info {
  font-size: 0.875rem;
}

.about-us-post-icon-1, .about-us-post-icon-2 {
  text-decoration: none;
  position: absolute;
}

.about-us-post-icon-1 {
  top: 40%;
  right: 0;
  color: #BCB7C2;
  transition: var(--transition);
}

.about-us-post-icon-2 {
  top: 60%;
  right: 0;
  color: #3E2E4D;
  transition: var(--transition);
}

.about-us-post-icon-1:hover , .about-us-post-icon-2:hover {
  color: #3E2E4D;  
}

/******************************
  PARTNERS SECTION STYLES
*******************************/
.partners-logo-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.partner-logo {
  width: 241px;
  height: 86px;
}

.partner-logo img {
  width: 50%;
  filter: grayscale(90%);
  display: block;
}

.partner-special-logo {
  background: #FFFFFF;
  border-radius: 0.675rem;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}

/******************************
UNIVERSAL STYLES
*******************************/

/******************************
UNIVERSAL STYLES
*******************************/

/******************************
UNIVERSAL STYLES
*******************************/

/******************************
        UNIVERSAL STYLES
*******************************/
